.full-container {
    margin-left: calc(-50vw + 50%);
    padding: 0;
    width: 100vw !important;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 80px;

    .menu-item a {
        color: #FFFFFF;
        font-family: "Brandon Grotesque Bold", Sans-serif;
        font-size: 26px;
        font-weight: 900;
    }
}